<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/fontawesome.all.min.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/brands.min.css">
  <link rel="icon" href="{{ site.github.url }}/favicon.ico" type="image/x-icon">
  <!-- Use Atom -->
  {% feed_meta %}
  <!-- Use RSS-2.0 -->
  <!--<link href="{{ site.github.url }}/rss-feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
  //-->
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">-->
  
  
  <script type="text/javascript" async
    src="{{ site.github.url }}/assets/mathjax/tex-chtml.js">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      });
  </script> 
</head>
